<a href="https://colab.research.google.com/github/jagadeesh01032005/SML/blob/main/SML_assignment_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
d=pd.read_csv("/content/train[1].csv")
print(d)

      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
0               842     0          2.2         0   1       0           7
1              1021     1          0.5         1   0       1          53
2               563     1          0.5         1   2       1          41
3               615     1          2.5         0   0       0          10
4              1821     1          1.2         0  13       1          44
...             ...   ...          ...       ...  ..     ...         ...
1995            794     1          0.5         1   0       1           2
1996           1965     1          2.6         1   0       0          39
1997           1911     0          0.9         1   1       1          36
1998           1512     0          0.9         0   4       1          46
1999            510     1          2.0         1   5       1          45

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
0       0.6        188        2  ...         20       756  2549     9     7
1       0.7        136        3  ...        905      1988  2631    17     3
2       0.9        145        5  ...       1263      1716  2603    11     2
3       0.8        131        6  ...       1216      1786  2769    16     8
4       0.6        141        2  ...       1208      1212  1411     8     2
...     ...        ...      ...  ...        ...       ...   ...   ...   ...
1995    0.8        106        6  ...       1222      1890   668    13     4
1996    0.2        187        4  ...        915      1965  2032    11    10
1997    0.7        108        8  ...        868      1632  3057     9     1
1998    0.1        145        5  ...        336       670   869    18    10
1999    0.9        168        6  ...        483       754  3919    19     4

      talk_time  three_g  touch_screen  wifi  price_range
0            19        0             0     1            1
1             7        1             1     0            2
2             9        1             1     0            2
3            11        1             0     0            2
4            15        1             1     0            1
...         ...      ...           ...   ...          ...
1995         19        1             1     0            0
1996         16        1             1     1            2
1997          5        1             1     0            3
1998         19        1             1     1            0
1999          2        1             1     1            3

[2000 rows x 21 columns]

In [ ]:
y=d['price_range']
print(y)

0       1
1       2
2       2
3       2
4       1
       ..
1995    0
1996    2
1997    3
1998    0
1999    3
Name: price_range, Length: 2000, dtype: int64

In [ ]:
x=d.drop('price_range',axis=1)
print(x)

      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
0               842     0          2.2         0   1       0           7
1              1021     1          0.5         1   0       1          53
2               563     1          0.5         1   2       1          41
3               615     1          2.5         0   0       0          10
4              1821     1          1.2         0  13       1          44
...             ...   ...          ...       ...  ..     ...         ...
1995            794     1          0.5         1   0       1           2
1996           1965     1          2.6         1   0       0          39
1997           1911     0          0.9         1   1       1          36
1998           1512     0          0.9         0   4       1          46
1999            510     1          2.0         1   5       1          45

      m_dep  mobile_wt  n_cores  pc  px_height  px_width   ram  sc_h  sc_w  \
0       0.6        188        2   2         20       756  2549     9     7
1       0.7        136        3   6        905      1988  2631    17     3
2       0.9        145        5   6       1263      1716  2603    11     2
3       0.8        131        6   9       1216      1786  2769    16     8
4       0.6        141        2  14       1208      1212  1411     8     2
...     ...        ...      ...  ..        ...       ...   ...   ...   ...
1995    0.8        106        6  14       1222      1890   668    13     4
1996    0.2        187        4   3        915      1965  2032    11    10
1997    0.7        108        8   3        868      1632  3057     9     1
1998    0.1        145        5   5        336       670   869    18    10
1999    0.9        168        6  16        483       754  3919    19     4

      talk_time  three_g  touch_screen  wifi
0            19        0             0     1
1             7        1             1     0
2             9        1             1     0
3            11        1             0     0
4            15        1             1     0
...         ...      ...           ...   ...
1995         19        1             1     0
1996         16        1             1     1
1997          5        1             1     0
1998         19        1             1     1
1999          2        1             1     1

[2000 rows x 20 columns]

In [ ]:
dd=(x-x.min())/(x.max()-x.min())
print(dd)

      battery_power  blue  clock_speed  dual_sim        fc  four_g  \
0          0.227789   0.0         0.68       0.0  0.052632     0.0
1          0.347361   1.0         0.00       1.0  0.000000     1.0
2          0.041416   1.0         0.00       1.0  0.105263     1.0
3          0.076152   1.0         0.80       0.0  0.000000     0.0
4          0.881764   1.0         0.28       0.0  0.684211     1.0
...             ...   ...          ...       ...       ...     ...
1995       0.195725   1.0         0.00       1.0  0.000000     1.0
1996       0.977956   1.0         0.84       1.0  0.000000     0.0
1997       0.941884   0.0         0.16       1.0  0.052632     1.0
1998       0.675351   0.0         0.16       0.0  0.210526     1.0
1999       0.006012   1.0         0.60       1.0  0.263158     1.0

      int_memory     m_dep  mobile_wt   n_cores    pc  px_height  px_width  \
0       0.080645  0.555556   0.900000  0.142857  0.10   0.010204  0.170895
1       0.822581  0.666667   0.466667  0.285714  0.30   0.461735  0.993324
2       0.629032  0.888889   0.541667  0.571429  0.30   0.644388  0.811749
3       0.129032  0.777778   0.425000  0.714286  0.45   0.620408  0.858478
4       0.677419  0.555556   0.508333  0.142857  0.70   0.616327  0.475300
...          ...       ...        ...       ...   ...        ...       ...
1995    0.000000  0.777778   0.216667  0.714286  0.70   0.623469  0.927904
1996    0.596774  0.111111   0.891667  0.428571  0.15   0.466837  0.977971
1997    0.548387  0.666667   0.233333  1.000000  0.15   0.442857  0.755674
1998    0.709677  0.000000   0.541667  0.571429  0.25   0.171429  0.113485
1999    0.693548  0.888889   0.733333  0.714286  0.80   0.246429  0.169559

           ram      sc_h      sc_w  talk_time  three_g  touch_screen  wifi
0     0.612774  0.285714  0.388889   0.944444      0.0           0.0   1.0
1     0.634687  0.857143  0.166667   0.277778      1.0           1.0   0.0
2     0.627205  0.428571  0.111111   0.388889      1.0           1.0   0.0
3     0.671566  0.785714  0.444444   0.500000      1.0           0.0   0.0
4     0.308658  0.214286  0.111111   0.722222      1.0           1.0   0.0
...        ...       ...       ...        ...      ...           ...   ...
1995  0.110102  0.571429  0.222222   0.944444      1.0           1.0   0.0
1996  0.474613  0.428571  0.555556   0.777778      1.0           1.0   1.0
1997  0.748530  0.285714  0.055556   0.166667      1.0           1.0   0.0
1998  0.163816  0.928571  0.555556   0.944444      1.0           1.0   1.0
1999  0.978888  1.000000  0.222222   0.000000      1.0           1.0   1.0

[2000 rows x 20 columns]

In [ ]:
# x_train,x_tet,y_train,y_test
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(dd,y,test_size=0.2)

In [ ]:
random_state=100

In [ ]:
print(x_train)

      battery_power  blue  clock_speed  dual_sim        fc  four_g  \
400        0.511022   0.0         0.56       1.0  0.000000     1.0
1925       0.887776   1.0         0.00       0.0  0.263158     0.0
1301       0.917168   1.0         0.04       0.0  0.052632     0.0
643        0.279893   1.0         0.00       0.0  0.105263     0.0
723        0.514362   0.0         0.00       1.0  0.105263     0.0
...             ...   ...          ...       ...       ...     ...
210        0.597194   0.0         0.52       1.0  0.000000     0.0
107        0.772211   1.0         0.76       0.0  0.157895     0.0
567        0.513026   1.0         0.32       0.0  0.736842     0.0
1005       0.513694   1.0         0.72       0.0  0.000000     0.0
917        0.269205   0.0         0.52       0.0  0.157895     1.0

      int_memory     m_dep  mobile_wt   n_cores    pc  px_height  px_width  \
400     0.080645  0.111111   0.866667  0.285714  0.60   0.176531  0.646195
1925    0.193548  0.777778   0.666667  0.714286  0.30   0.394388  0.569426
1301    0.274194  0.777778   0.933333  0.142857  0.45   0.631633  0.612817
643     0.709677  0.777778   0.575000  0.285714  0.15   0.539796  0.614820
723     0.838710  0.000000   0.658333  1.000000  0.15   0.312755  0.100134
...          ...       ...        ...       ...   ...        ...       ...
210     0.338710  0.000000   0.258333  0.285714  0.05   0.108673  0.136849
107     0.645161  0.000000   0.983333  0.571429  0.80   0.903061  0.865154
567     0.806452  0.777778   0.316667  0.142857  0.75   0.814796  0.947931
1005    0.903226  0.444444   0.200000  0.571429  0.05   0.771429  0.811749
917     0.532258  0.333333   0.733333  0.285714  0.20   0.021429  0.004673

           ram      sc_h      sc_w  talk_time  three_g  touch_screen  wifi
400   0.608231  0.357143  0.277778   0.111111      1.0           1.0   1.0
1925  0.440673  0.785714  0.166667   0.944444      1.0           1.0   1.0
1301  0.257082  0.714286  0.555556   0.833333      0.0           1.0   0.0
643   0.628541  0.071429  0.000000   0.000000      0.0           0.0   1.0
723   0.196152  0.642857  0.611111   0.222222      0.0           1.0   1.0
...        ...       ...       ...        ...      ...           ...   ...
210   0.618653  0.428571  0.000000   0.611111      1.0           0.0   1.0
107   0.625601  0.928571  0.055556   0.666667      1.0           0.0   0.0
567   0.109300  0.928571  0.277778   0.166667      0.0           0.0   0.0
1005  0.813201  0.571429  0.222222   0.777778      0.0           0.0   1.0
917   0.295029  0.714286  0.666667   0.500000      1.0           0.0   0.0

[1600 rows x 20 columns]

In [ ]:
print(x_test)

      battery_power  blue  clock_speed  dual_sim        fc  four_g  \
1631       0.074148   1.0         0.00       1.0  0.052632     1.0
1637       0.797595   1.0         0.00       1.0  0.105263     1.0
425        0.918504   0.0         0.92       1.0  0.157895     1.0
130        0.609886   0.0         0.60       1.0  0.105263     0.0
183        0.305945   1.0         0.84       1.0  0.789474     0.0
...             ...   ...          ...       ...       ...     ...
950        0.588510   1.0         0.00       0.0  0.368421     1.0
100        0.923180   1.0         0.00       0.0  0.157895     1.0
1464       0.183701   1.0         0.48       0.0  0.000000     1.0
1294       0.058784   1.0         0.00       0.0  0.052632     1.0
318        0.004676   0.0         0.12       0.0  0.368421     1.0

      int_memory     m_dep  mobile_wt   n_cores    pc  px_height  px_width  \
1631    0.290323  0.777778   0.825000  1.000000  0.30   0.584184  0.658879
1637    0.725806  0.444444   0.908333  0.571429  0.65   0.157143  0.472630
425     0.870968  0.333333   0.850000  0.285714  0.20   0.119898  0.056742
130     0.838710  0.777778   0.158333  0.857143  0.15   0.133673  0.219626
183     0.290323  1.000000   0.033333  0.428571  0.95   0.286224  0.755007
...          ...       ...        ...       ...   ...        ...       ...
950     0.177419  0.222222   0.991667  0.142857  0.90   0.312245  0.146195
100     0.129032  0.222222   0.550000  0.714286  0.65   0.426531  0.827103
1464    0.290323  1.000000   0.550000  0.428571  0.45   0.505612  0.869826
1294    0.919355  0.666667   0.550000  1.000000  0.20   0.387245  0.906542
318     0.645161  0.222222   0.116667  0.000000  0.40   0.019898  0.038051

           ram      sc_h      sc_w  talk_time  three_g  touch_screen  wifi
1631  0.808658  0.785714  0.111111   0.888889      1.0           1.0   1.0
1637  0.366916  0.214286  0.333333   0.500000      1.0           1.0   0.0
425   0.738910  0.500000  0.111111   0.888889      1.0           0.0   0.0
130   0.946820  0.857143  0.388889   0.277778      1.0           0.0   1.0
183   0.991181  0.785714  0.055556   0.222222      1.0           0.0   0.0
...        ...       ...       ...        ...      ...           ...   ...
950   0.485569  0.785714  0.388889   0.388889      1.0           0.0   1.0
100   0.626403  0.785714  0.444444   1.000000      1.0           0.0   0.0
1464  0.114645  0.714286  0.611111   0.277778      1.0           1.0   1.0
1294  0.028327  0.785714  0.555556   0.222222      1.0           1.0   1.0
318   0.108765  0.571429  0.666667   0.277778      1.0           0.0   0.0

[400 rows x 20 columns]

In [ ]:
print(y_train)

400     2
1925    2
1301    1
643     2
723     0
       ..
210     2
107     3
567     1
1005    3
917     0
Name: price_range, Length: 1600, dtype: int64

In [ ]:
print(y_test)

1631    3
1637    1
425     2
130     3
183     3
       ..
950     1
100     3
1464    0
1294    0
318     0
Name: price_range, Length: 400, dtype: int64

In [ ]:
print(x.isnull())

      battery_power   blue  clock_speed  dual_sim     fc  four_g  int_memory  \
0             False  False        False     False  False   False       False
1             False  False        False     False  False   False       False
2             False  False        False     False  False   False       False
3             False  False        False     False  False   False       False
4             False  False        False     False  False   False       False
...             ...    ...          ...       ...    ...     ...         ...
1995          False  False        False     False  False   False       False
1996          False  False        False     False  False   False       False
1997          False  False        False     False  False   False       False
1998          False  False        False     False  False   False       False
1999          False  False        False     False  False   False       False

      m_dep  mobile_wt  n_cores     pc  px_height  px_width    ram   sc_h  \
0     False      False    False  False      False     False  False  False
1     False      False    False  False      False     False  False  False
2     False      False    False  False      False     False  False  False
3     False      False    False  False      False     False  False  False
4     False      False    False  False      False     False  False  False
...     ...        ...      ...    ...        ...       ...    ...    ...
1995  False      False    False  False      False     False  False  False
1996  False      False    False  False      False     False  False  False
1997  False      False    False  False      False     False  False  False
1998  False      False    False  False      False     False  False  False
1999  False      False    False  False      False     False  False  False

       sc_w  talk_time  three_g  touch_screen   wifi
0     False      False    False         False  False
1     False      False    False         False  False
2     False      False    False         False  False
3     False      False    False         False  False
4     False      False    False         False  False
...     ...        ...      ...           ...    ...
1995  False      False    False         False  False
1996  False      False    False         False  False
1997  False      False    False         False  False
1998  False      False    False         False  False
1999  False      False    False         False  False

[2000 rows x 20 columns]

In [ ]:
 # x=x.fillna() if there is null values
 print(d.dtypes)

battery_power      int64
blue               int64
clock_speed      float64
dual_sim           int64
fc                 int64
four_g             int64
int_memory         int64
m_dep            float64
mobile_wt          int64
n_cores            int64
pc                 int64
px_height          int64
px_width           int64
ram                int64
sc_h               int64
sc_w               int64
talk_time          int64
three_g            int64
touch_screen       int64
wifi               int64
price_range        int64
dtype: object

In [ ]:
u=pd.read_csv("/content/sample_data/california_housing_train.csv")
print(u)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value
0          1015.0       472.0         1.4936             66900.0
1          1129.0       463.0         1.8200             80100.0
2           333.0       117.0         1.6509             85700.0
3           515.0       226.0         3.1917             73400.0
4           624.0       262.0         1.9250             65500.0
...           ...         ...            ...                 ...
16995       907.0       369.0         2.3571            111400.0
16996      1194.0       465.0         2.5179             79000.0
16997      1244.0       456.0         3.0313            103600.0
16998      1298.0       478.0         1.9797             85800.0
16999       806.0       270.0         3.0147             94600.0

[17000 rows x 9 columns]

In [ ]:
b=u['median_house_value']
print(b)

0         66900.0
1         80100.0
2         85700.0
3         73400.0
4         65500.0
           ...
16995    111400.0
16996     79000.0
16997    103600.0
16998     85800.0
16999     94600.0
Name: median_house_value, Length: 17000, dtype: float64

In [ ]:
a=u.drop('median_house_value',axis=1)
print(a)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income
0          1015.0       472.0         1.4936
1          1129.0       463.0         1.8200
2           333.0       117.0         1.6509
3           515.0       226.0         3.1917
4           624.0       262.0         1.9250
...           ...         ...            ...
16995       907.0       369.0         2.3571
16996      1194.0       465.0         2.5179
16997      1244.0       456.0         3.0313
16998      1298.0       478.0         1.9797
16999       806.0       270.0         3.0147

[17000 rows x 8 columns]

In [ ]:
ab=(a-a.min())/(a.max()-a.min())
print(ab)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0       1.000000  0.175345            0.274510     0.147885        0.198945
1       0.984064  0.197662            0.352941     0.201608        0.294848
2       0.975100  0.122210            0.313725     0.018927        0.026847
3       0.974104  0.116897            0.254902     0.039515        0.052142
4       0.974104  0.109458            0.372549     0.038276        0.050435
...          ...       ...                 ...          ...             ...
16995   0.008964  0.854410            1.000000     0.058389        0.060987
16996   0.007968  0.866100            0.686275     0.061869        0.081782
16997   0.004980  0.988310            0.313725     0.070515        0.082247
16998   0.004980  0.984060            0.352941     0.070384        0.085506
16999   0.000000  0.850159            1.000000     0.047924        0.046400

       population  households  median_income
0        0.028364    0.077454       0.068530
1        0.031559    0.075974       0.091040
2        0.009249    0.019076       0.079378
3        0.014350    0.037000       0.185639
4        0.017405    0.042921       0.098281
...           ...         ...            ...
16995    0.025337    0.060516       0.128081
16996    0.033381    0.076303       0.139170
16997    0.034782    0.074823       0.174577
16998    0.036296    0.078441       0.102054
16999    0.022506    0.044236       0.173432

[17000 rows x 8 columns]

In [ ]:
from sklearn.model_selection import train_test_split
a_train,a_test,b_train,b_test=train_test_split(ab,b,test_size=0.2)

In [ ]:
random_state=100

In [ ]:
print(a_train)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
9965    0.457171  0.450584            0.568627     0.161197        0.206238
2463    0.671315  0.168969            0.392157     0.221800        0.214929
14007   0.230080  0.506908            0.450980     0.089258        0.098076
12296   0.284861  0.634431            0.333333     0.018400        0.026071
14640   0.217131  0.550478            0.078431     0.044550        0.061608
...          ...       ...                 ...          ...             ...
5516    0.615538  0.167906            0.705882     0.059154        0.074488
14165   0.227092  0.535600            0.294118     0.042283        0.037089
11160   0.331673  0.483528            0.313725     0.029419        0.041744
10341   0.423307  0.437832            0.352941     0.053196        0.064401
15849   0.192231  0.556854            1.000000     0.026018        0.065798

       population  households  median_income
9965     0.077497    0.201118       0.112992
2463     0.120659    0.220358       0.273182
14007    0.045517    0.096037       0.320968
12296    0.007203    0.020885       0.167032
14640    0.022730    0.053774       0.218142
...           ...         ...            ...
5516     0.027803    0.075317       0.261686
14165    0.031223    0.043907       0.383871
11160    0.015611    0.039961       0.104943
10341    0.037501    0.059036       0.082764
15849    0.017685    0.055912       0.133895

[13600 rows x 8 columns]

In [ ]:
print(a_test)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
16303   0.184263  0.577046            0.470588     0.171978        0.295003
7981    0.591633  0.155154            0.705882     0.037538        0.040037
518     0.732072  0.249734            0.549020     0.069461        0.079299
5630    0.614542  0.158342            0.764706     0.069303        0.108163
7854    0.592629  0.181722            0.235294     0.049295        0.076971
...          ...       ...                 ...          ...             ...
3706    0.639442  0.163656            0.666667     0.018110        0.019708
4183    0.633466  0.136026            0.352941     0.052432        0.081782
11974   0.295817  0.632306            0.196078     0.224990        0.254811
5789    0.613546  0.137088            0.803922     0.046685        0.055711
14575   0.218127  0.553666            0.843137     0.016212        0.020174

       population  households  median_income
16303    0.165756    0.297813       0.153612
7981     0.019227    0.042756       0.346788
518      0.033213    0.073179       0.171729
5630     0.081757    0.111166       0.108723
7854     0.053925    0.070877       0.117378
...           ...         ...            ...
3706     0.010538    0.020885       0.238507
4183     0.033605    0.075481       0.183025
11974    0.118305    0.270844       0.169984
5789     0.022758    0.049005       0.303451
14575    0.010510    0.022036       0.141853

[3400 rows x 8 columns]

In [ ]:
print(b_train)

9965      78800.0
2463     164600.0
14007    355100.0
12296    152900.0
14640    158300.0
           ...
5516     354700.0
14165    247000.0
11160    112500.0
10341     69000.0
15849    275000.0
Name: median_house_value, Length: 13600, dtype: float64

In [ ]:
print(a_test)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
16303   0.184263  0.577046            0.470588     0.171978        0.295003
7981    0.591633  0.155154            0.705882     0.037538        0.040037
518     0.732072  0.249734            0.549020     0.069461        0.079299
5630    0.614542  0.158342            0.764706     0.069303        0.108163
7854    0.592629  0.181722            0.235294     0.049295        0.076971
...          ...       ...                 ...          ...             ...
3706    0.639442  0.163656            0.666667     0.018110        0.019708
4183    0.633466  0.136026            0.352941     0.052432        0.081782
11974   0.295817  0.632306            0.196078     0.224990        0.254811
5789    0.613546  0.137088            0.803922     0.046685        0.055711
14575   0.218127  0.553666            0.843137     0.016212        0.020174

       population  households  median_income
16303    0.165756    0.297813       0.153612
7981     0.019227    0.042756       0.346788
518      0.033213    0.073179       0.171729
5630     0.081757    0.111166       0.108723
7854     0.053925    0.070877       0.117378
...           ...         ...            ...
3706     0.010538    0.020885       0.238507
4183     0.033605    0.075481       0.183025
11974    0.118305    0.270844       0.169984
5789     0.022758    0.049005       0.303451
14575    0.010510    0.022036       0.141853

[3400 rows x 8 columns]

In [ ]:
print(a.isnull())

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0          False     False               False        False           False
1          False     False               False        False           False
2          False     False               False        False           False
3          False     False               False        False           False
4          False     False               False        False           False
...          ...       ...                 ...          ...             ...
16995      False     False               False        False           False
16996      False     False               False        False           False
16997      False     False               False        False           False
16998      False     False               False        False           False
16999      False     False               False        False           False

       population  households  median_income
0           False       False          False
1           False       False          False
2           False       False          False
3           False       False          False
4           False       False          False
...           ...         ...            ...
16995       False       False          False
16996       False       False          False
16997       False       False          False
16998       False       False          False
16999       False       False          False

[17000 rows x 8 columns]

In [ ]:
a=a.fillna(0)
print(a)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income
0          1015.0       472.0         1.4936
1          1129.0       463.0         1.8200
2           333.0       117.0         1.6509
3           515.0       226.0         3.1917
4           624.0       262.0         1.9250
...           ...         ...            ...
16995       907.0       369.0         2.3571
16996      1194.0       465.0         2.5179
16997      1244.0       456.0         3.0313
16998      1298.0       478.0         1.9797
16999       806.0       270.0         3.0147

[17000 rows x 8 columns]

In [ ]:
print(u.dtypes)

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object